*.class
mvn-install-csparql

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea
*.iml

# Eclipse related files
.classpath
.project
.settings
.metadata
# temporary files
*.*~

# output related files
bin
target
